*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    min-height:100vh;
    display: grid;
    grid-template-rows:100px auto; 
    grid-template-columns: 100px 1fr;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    background-color: yellow;

    grid-column-start: 1;
    grid-column-end: 3;
}
aside
{
    background-color: aquamarine;
}
main{
    /* background-color: #464343ee; */
    background-color:black;
    display:grid;
    grid-template-columns: repeat(auto-fit,20rem);
    align-content: center;
    grid-auto-rows:auto;
    justify-content: center;
    align-content: center;
    gap:2rem;
    padding:2rem;
}
.card
{
   /* // height:400px; */
    background-color: orange;
}
.card img
{
    height:200px;
    width:320px;
}